# -----------------------------------------------------------------------------
#- Icestick constraint file (.pcf)
#- By Juan Gonzalez (Obijuan)
#- April - 2016
#- GPL license
# -----------------------------------------------------------------------------
# --  Pinout: http://www.pighixxx.com/test/2016/02/icestick-pinout/
# --  Guide: https://github.com/Obijuan/open-fpga-verilog-tutorial/blob/master/tutorial/doc/icestickusermanual.pdf

# -- Icestick leds map
#
#           D1
#        D4 D5 D2
#           D3
#
# --    D1-D4: Red leds
# --    D5: green led


# ------------ Red leds -------------------------------------------------------
set_io --warn-no-port D1 99  # output
set_io --warn-no-port D2 98  # output
set_io --warn-no-port D3 97  # output
set_io --warn-no-port D4 96  # output

# ------------ Green led ------------------------------------------------------
set_io --warn-no-port D5 95  # output

set_io TXD 8
set_io RXD 9
set_io pclk 21
set_io resetq 3
